[mgr]
ratio = [1, 3, 4]
sort_by = "natural"
sort_dir_first = true
linemode = "size"
show_hidden = true

[preview]
image_filter = "lanczos3"
max_width = 3840
max_height = 2160

[opener]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
]

# --- Git fetchers (git.yazi) ---
[[plugin.prepend_fetchers]]
id  = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*/"
run = "git"

# --- Piper previewers ---
[[plugin.prepend_previewers]]
url = "*.md"
run = 'piper -- CLICOLOR_FORCE=1 glow -w=$w -s=dark "$1"'

[[plugin.prepend_previewers]]
url = "*.csv"
run = 'piper -- bat -p --color=always "$1"'

[[plugin.prepend_previewers]]
url = "*.tsv"
run = 'piper -- bat -p --color=always "$1"'
