"$schema" = "https://starship.rs/config-schema.json"

format = """
$directory\
$git_branch\
$git_status\
$python\
$nodejs\
$rust\
$golang\
$docker_context\
$cmd_duration\
$line_break\
$character"""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[directory]
truncation_length = 3
truncation_symbol = "…/"
style = "bold cyan"

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "bold red"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
modified = "!${count}"
staged = "+${count}"
untracked = "?${count}"

[python]
symbol = " "
style = "bold yellow"

[nodejs]
symbol = " "
style = "bold green"

[rust]
symbol = " "
style = "bold orange"

[golang]
symbol = " "
style = "bold cyan"

[docker_context]
symbol = " "
style = "bold blue"

[cmd_duration]
min_time = 2_000
style = "bold yellow"
format = "[$duration]($style) "
